parameters:
    level: 4
    paths:
        - src
        - config
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            identifier: method.notFound
            message: '#::keyFromHashId\(\).#'
        -
            identifier: property.notFound
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$hashId#'
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
        -
            identifier: varTag.nativeType
        -
            identifier: binaryOp.invalid
        -
            identifier: trait.unused
