parameters:
    level: 4
    paths:
        - src
        - config
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true
    ignoreErrors:
        - '#::findOrNewByHashId\(\).#'
        - '#::findOrFailByHashId\(\).#'
        - '#::findOrByHashId\(\).#'
        - '#::findManyByHashId\(\).#'
        - '#::findByHashId\(\).#'
        - '#::keyFromHashId\(\).#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$hashId#'
